@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%; /* 8px */
    --input: 200, 21%, 89%;

    --primary: 47, 100%, 51%, 1;
    --primary-foreground: 48, 100%, 3%, 1;

    --secondary: 0, 0%, 0%, 1;
    --secondary-foreground: 0, 0%, 100%, 1;

    --accent: 210 40% 96.1%;
    --accent-foreground: 48, 100%, 3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 47, 100%, 51%;
    --radio: 218, 28%, 86%, 1;

    --radius: 0.5rem;

    --table: 0, 0%, 100%;
    --table-foreground: 255, 8%, 19%, 1;
    --table-foreground-2: 260, 4%, 52%;

    --dashboard-background: 0, 0%, 96%, 1;

    --grey: 0, 0%, 10%;
    --grey-50: 0, 0%, 53%, 1;
    --grey-90: 202, 55%, 35%, 0.15;
    --grey-100: 210, 1%, 35%, 1;
    --grey-200: 210, 1%, 50%, 1;
    --grey-500: 220, 13%, 46%, 1;
    --grey-300: 245, 23%, 16%, 0.75;
    --grey-700: 0, 0%, 40%, 1;

    --blue: 202, 55%, 35%;

    --green: 120, 100%, 25%, 1;
    --green-50: 144, 21%, 94%, 1;
    --green-100: 120, 35%, 93%;

    --dark: 0, 0%, 20%, 1;
    --dark-100: 0, 0%, 96%, 1;
    --dark-800: 0, 0%, 13%, 1;
    --dark-700: 210, 7%, 11%, 1;

    --navy-blue: 202, 55%, 35%, 1;
    --navy-blue-100: 212, 43%, 93%, 1;

    --light-grey: 0, 0%, 100%, 1;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --secondary-500: 210, 7%, 11%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --info-500: 220, 76%, 60%, 1;
    --info-foreground: 0, 0%, 100%, 1;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.trans {
  transition: all 0.3s ease;
}

@keyframes ldio-m80kbgeszwn {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-m80kbgeszwn div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #ffcb06;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-m80kbgeszwn div {
  animation: ldio-m80kbgeszwn 1s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-s5bi6zvz1ki {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-m80kbgeszwn {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-m80kbgeszwn div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
/* background: linear-gradient(to bottom, #ffffff, #e6e6e6); */
